body {
    color:black;
    background-color: rgb(66, 132, 177);
    background-image:url("../img/photofondaikido.png");
    background-size: cover;
    margin:0;
    }



nav>a{
    color: yellow;
}
img{
    height:100;
    width: 100;
    border: solid black;
    object-fit: cover;
}
.container{
  
        display: flex;
        justify-content: space-between;
         background-color: blueviolet;
}
a{
    color: black;
}
footer{background-color: blue;}


form{
    text-align:center ;
}